#_____________________________________________________
#  1. cache, build, db sqlite3 files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
__pycache__/
mnist_data/
_logdir/
food/*.*
*.pyc
*.npy
*.bak


#_____________________________________________________
#  2. Temporary files for TEST
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
_.html
_.pdb
*.xlsb

# -- classified images for test ---
cache_avhash/
category_101objects/
gyudon/


#_____________________________________________________
#  3. ipython notebook temporary check point
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
.ipynb_checkpoints/
*.jpg
